body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(auto, 40em) minmax(20em, auto) auto;
  grid-template-rows: 60px auto 120px;
  grid-template-areas:
    'header header header header'
    '. content sidebar .'
    'footer footer footer footer';
  grid-gap: 0;
}

.header {
  background: red;
  color: white;
  grid-area: header;
}

.main {
  background: blue;
  color: white;
  grid-area: content;
}

.sidebar {
  background: green;
  grid-area: sidebar;
  color: white;
}

.footer {
  background: cyan;
  grid-area: footer;
  text-align: center;
}
