body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 240px;
  grid-template-rows: 60px 1fr 120px;
  grid-gap: 0;
}

.header {
  background: red;
  color: white;
  grid-row: 1;
  grid-column: 1 / 3;
}

.main {
  background: blue;
  color: white;
  grid-column: 1;
}

.list {
  background: green;
  color: white;
  grid-column: 2;
}

.footer {
  background: cyan;
  grid-column: 1 / 3;
  text-align: center;
}
